.header {
	padding-top: 40px;
	padding-bottom: 35px;
	z-index: 1;
	position: relative;

	.wrapper {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__burger {
      display: none;
      position: absolute;
      top: 9px;
			right: 25px;
      width: 40px;
      height: 24px;
      outline: none;
      border: none;
      background: none;
      padding: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
      z-index: 101;

      i {
         display: block;
         margin-top: -2px;
         position: absolute;
         width: 40px;
         height: 4px;
         top: auto;
         bottom: 0;
         transition-delay: 0.13s;
         transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
         transition-duration: 0.13s;
         background-color: $green;
         border-radius: 4px;

         &:before,
         &:after {
            display: block;
            content: "";
            position: absolute;
            width: 40px;
            height: 4px;
            transition-timing-function: ease;
            transition-duration: 0.15s;
            transition-property: transform;
            border-radius: 4px;
            background-color: $green;
         }

         &:before {
            top: -10px;
            transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            background-color: $green;
         }

         &:after {
            top: -20px;
            bottom: -10px;
            transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0.1s linear;
            background-color: $green;
         }
      }

      &--active {
         i {
            transition-delay: 0.22s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translate3d(0, -10px, 0) rotate(-45deg);
            background-color: $white;

            &:before,
            &:after{
               background-color: $white;
            }

            &:before {
               top: 0;
               transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
               transform: rotate(-90deg);
            }

            &:after {
               top: 0;
               transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s linear 0.22s;
               opacity: 0;
            }
         }
      }
   }
}

@media only screen and (max-width: 1023px) {
	.header {
		z-index: 10;
		&__burger {
			display: block;
		}
	}
}
