.logo {
	align-self: center;
	font-size: 0;
	line-height: 0;
	&__href {
		display: inline-block;
		transition opacity .4s

		&:hover {
			opacity: .7;
		}
	}

	&__img {
		max-width: 100%;
	}
}

@media only screen and (max-width: 767px) {
	.logo {
		&__href {
			max-width: 170px;
		}
	}
}
