mixin service
	section.service
		.wrapper
			h1 Услуги
			.service__text
				p Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности требуют от нас анализа модели развития. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. 
			.service__articles
				article.service__articles-item
					img(src="./img/service-img.png", alt="").service__articles-img
					.service__articles-right
						h3.service__articles-title Сбор исходных данных
						.service__articles-text.js-service-shave
							p Работа по СИД включает в себя обследование предполагаемых мест для:
								br
								| * доставки и выгрузки материально-технических ресурсов (МТР) поставки Заказчика, строительной техники и транспортных средств подрядных организаций на станциях...  
						a(href="#").btn.btn--green.service__articles-link Узнать больше
				article.service__articles-item
					img(src="./img/service-img.png", alt="").service__articles-img
					.service__articles-right
						h3.service__articles-title Проектно-изыскательные работы 
						.service__articles-text.js-service-shave
							p С 2007 г. по настоящее время компания выполнила ряд работ в области строительства магистральных газопроводов и компрессорных станций, ходе которых работники компании зарекомендовали себя квалифицированными специалистами....
						a(href="#").btn.btn--green.service__articles-link Узнать больше
				article.service__articles-item
					img(src="./img/service-img.png", alt="").service__articles-img
					.service__articles-right
						h3.service__articles-title Проект логистического обеспечения строительства
						.service__articles-text.js-service-shave
							p К настоящему времени компания накопила практический опыт в области разработки СИД и перешла на принципиально новый уровень проектно-изыскательских работ - разработку проектов по логистическому обеспечению строительства, который допускает минимальное участие Заказчика и включает следующие этап  который допускает минимальное участие Заказчика и включает следующие этап который допускает минимальное участие Заказчика и включает следующие этап
						a(href="#").btn.btn--green.service__articles-link Узнать больше
				article.service__articles-item
					img(src="./img/service-img.png", alt="").service__articles-img
					.service__articles-right
						h3.service__articles-title Модернизация и ремонт малых мостов и водопропускных труб
						.service__articles-text.js-service-shave
							p В течение многих лет компания занимается проблемой реконструкции и усиления сооружений на автомобильных дорогах общего пользования: мостов, тоннелей, земляного полотна. В последние годы обозначилась широкая перспектива использования металлических гофрированных... В течение многих лет компания занимается проблемой реконструкции и усиления сооружений на автомобильных дорогах общего пользования: мостов, тоннелей, земляного полотна. В последние годы обозначилась широкая перспектива использования металлических гофрированных 
						a(href="#").btn.btn--green.service__articles-link Узнать больше
