mixin specialize
	.specialize
		.wrapper
			h2 Специализация
			.specialize__text
				p В период с 2007 г. по настоящее время в рамках субподрядных договоров нашей организацией были выполнены следующие виды работ:
			ol.specialize__list
				li.specialize__item
					img(src="./img/specialize-img.png", alt="").specialize__item-img
					.specialize__item-text
						p Сбор исходных данных (СИД) для разработки проекта организации строительства по объекту: «Северо-Европейский газопровод, участок Грязовец-Выборг. КС «Портовая»;
				li.specialize__item
					img(src="./img/specialize-img.png", alt="").specialize__item-img
					.specialize__item-text
						p Сбор исходных данных для логистического обеспечения строительства объекта «Система магистральных газопроводов Ухта-Торжок»;
				li.specialize__item
					img(src="./img/specialize-img.png", alt="").specialize__item-img
					.specialize__item-text
						p Сбор исходных данных для разработки проекта организации строительства по объекту: «Северо-Европейский газопровод, участок Грязовец-Выборг. II нитка. Участок км 0,0 – км 319,0»;
				li.specialize__item
					img(src="./img/specialize-img.png", alt="").specialize__item-img
					.specialize__item-text
						p Проект логистического обеспечения строительства объекта «Северо-Европейский газопровод, участок Грязовец-Выборг. Участок км 597 – км 917». Разработка схем логистического обеспечения строительства, обследование существующих автомобильных дорог и инженерных сооружений на них;
				li.specialize__item
					img(src="./img/specialize-img.png", alt="").specialize__item-img
					.specialize__item-text
						p Проект логистического обеспечения строительства объекта «Система магистральных газопроводов Ухта-Торжок (I очередь)» (линейная часть и компрессорные станции). Разработка схем логистического обеспечения строительства, обследование существующих автомобильных дорог и инженерных сооружений на них;
				li.specialize__item
					img(src="./img/specialize-img.png", alt="").specialize__item-img
					.specialize__item-text
						p Определение размеров компенсации ущерба, наносимого автодорогам и искусственным сооружениям, при строительстве объекта «Северо-Европейский газопровод, участок Грязовец-Выборг. II нитка. Участок км 0 – км 917».

