.about {
	padding-top: 100px;
	margin-bottom: 100px;

	.wrapper {
		display: flex;
		flex-direction: column;
	}

	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 40px;
	}

	&__item {
		width: calc(50% - 21px);
		padding-left: 120px;
		padding-top: 30px;
		padding-bottom: 18px;
		position: relative;
		display: flex;
		flex-direction: row;
		margin-bottom: 40px;
		min-height: 106px;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 240px;
			height: 106px;
			background-color: $bg-color;
			z-index: -1;
		}
	}

	&__item-icon {
		position: absolute;
		left: 31px;
		top: 31px;
	}

	&__item-text {
		font-size: 20px;
		line-height: 32px;
		color: $about-pluses-text;
		font-weight: 800;
		margin-top: -6px;
	}

	&__text {
		font-size: 18px;
		line-height: 30px;
		font-weight: normal;
		margin-bottom: 65px;
	}

	&__text-container {
		padding-top: 14px;
		padding-bottom 14px;
		padding-left: 47px;
		border-left: 3px solid $yellow;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 11px;
	}

	&__column {
		display: flex;
		flex-direction: column;
		width: calc(100% / 2);

		&:nth-child(1) {
			padding-right: 42px;
		}
	}

	&__text-more {
		margin-left: 25px;
		font-size: 18px;
		line-height: 30px;
		font-weight: 800;
		color: $about-pluses-text;
		position: relative;
		display inline-block
		letter-spacing: 0;

		&:after {
			content: '';
			display: inline-block;
			width: 19px;
			height: 13px;
			background-image: url('../i/arrow-right--black.png');
			position: relative;
			margin-left: 11px;
			line-height: 33px;
			margin-top: 1px;
		}
	}

	&__img {
		max-width: 100%;
	}
}

@media only screen and (max-width: 1023px) {
	.about {
		&__list {
			flex-direction: column;
			margin-bottom 0
		}

		&__item {
			width: auto;

			&:before {
				width: 50%;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.about {
		padding-top: 50px;
		margin-bottom: 50px;

		&__text-container {
			flex-direction: column;
			border: none;
			padding-left 0
		}

		&__column {
			width: auto;

			&:nth-child(1) {
				padding: 0;
			}
		}

		&__text-more {
			font-size: 16px;
			line-height: 18px;
			margin-left: 0;
		}

		&__item {
			flex-direction: column;
			padding: 0;

			&::before {
				content: none;
			}
		}

		&__item-text {
			margin-top: 0;
	    font-size: 18px;
	    line-height: 28px;
		}

		&__item-icon {
			position: static;
			align-self: flex-start;
			margin-bottom: 10px;
		}
	}
}

@media (max-width: 480px) {
	.about {
		&__text {
			margin-bottom 0
		}
		&__img {
			display: none;
		}
	}
}
