.activities {
	padding-top: 21px;
	padding-bottom: 35px;
	margin-bottom: 79px
	background-color: $bg-color;

	&__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__list {
		width: calc(100% / 2 - 21px);
	}

	&__item {
		margin-bottom: 45px;
	}

	&__href {
		display: flex;
		flex-direction: row;
		display inline-block;
		position: relative;
		padding-left: 79px;

		&:hover {
			& ^[0]__text > * {
				border-color: $about-pluses-text;
			}
		}
	}

	&__icon {
		position: absolute;
		left: 0;
		top: 0;
		margin-top: 6px;
	}

	&__text {
		font-size: 18px;
		line-height: 30px;
		font-weight: normal;
		color: $main-text;

		& > * {
			display: inline;
			border-bottom: 1px solid transparent;
			transition: border-color .5s;
		}
	}
}
