.contact-us {
	padding-bottom: 86px;
	overflow: hidden;

	&__container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 86px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		position: relative;
		padding: 40px 0;
		box-sizing: border-box;
		width: 100%;
		max-width: 458px;
		margin-right: 80px;

		.input {
			margin-bottom: 42px;
		}

		.select {
			margin-bottom: 41px;
		}

		.textarea {
			margin-bottom: 37px;
		}

		.pseudocheckbox {
			margin-bottom: 32px;
		}

		&:before {
			content: '';
			position: absolute;
			top:0;
			left: 50px;
			width: 100%;
			height: 100%;
			background-color: $bg-color;
			z-index: -1;
		}
	}

	&__btn {
		margin-left: -25px;
		font-size: 18px;
		line-height: 30px;
		font-weight: 800;
		color: $about-pluses-text;
		position: relative;
		letter-spacing: 0;
		display inline-block

		&:after {
			content: '';
			display: inline-block;
			width: 19px;
			height: 13px;
			background-image: url('../i/arrow-right--black.png');
			position: relative;
			margin-left: 11px;
			line-height: 33px;
		}
	}

	&__info {
		width: calc(50% - 21px);
		display: flex;
		flex-direction: column;
		align-self: center;
	}

	&__info-elem {
		display: flex;
		flex-direction: column;
		margin-bottom: 45px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__info-title {
		font-size: 18px;
		line-height: 30px;
		color: $main-text;
		font-weight: normal;
	}

	&__info-text {
		display: flex;
		flex-direction: column;

		& > * {
			font-size: 20px;;
			line-height: 32px;
			font-weight: 800;
			color: $title-color;
		}

		&--email, &--tel {
			a {
				align-self: flex-start;
			}
		}

		&--email {
			a {
				border-bottom: 1px solid $title-color-hover;
				transition: border-color .5s;

				&:hover {
					border-color: transparent;
				}
			}
		}
	}

	&__map {
		width: 100%;
		height: 500px;
	}
}

@media only screen and (max-width: 1023px) {
	.contact-us {
		&__container {
			flex-direction: column;
		}

		&__form {
			width: auto;
			max-width: 100%;
			margin-right: 0;
			order: 2;
		}

		&__info {
			width: 100%;
			order: 1;
			margin-bottom: 50px;
		}
	}
}

@media only screen and (max-width: 767px) {
	.contact-us {
		padding-bottom: 50px;

		&__container {
			margin-bottom: 50px;
		}

		&__form {
			padding-top: 0;
			padding-bottom: 0;
			&::before {
				content: none;
			}
		}
	}
}
