.reviews {
	margin-bottom: 90px;

	&__title {
		display: flex;
		flex-direction: row;
		margin-bottom: 50px;

		h2:not([class]) {
			margin-bottom: 0;
			margin-right: 40px;
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__item {
		width: calc(100%/3 - 21px)

		&:nth-child(2) {
			margin-top: 50px;
		}
	}

	&__href {
		line-height: 0;
		font-size: 0;
		display inline-block;
		background-color: $bg-color;
		padding: 30px;
		transition: background .5s;

		&:hover {
			background-color: $green;
		}

		img {
			max-width: 100%;
		}
	}
}


@media only screen and (max-width: 767px) {
	.reviews {
		margin-bottom: 50px;

		&__list {
			flex-direction: column;
			align-items: flex-start;
		}

		&__title {
			flex-wrap: wrap;
			flex-direction: column;

			h2:not([class]) {
				margin-right: 0;
				margin-bottom: 10px;
			}

			.more {
				align-self: flex-start;
			}
		}

		&__item {
			width: auto;
			margin-bottom: 30px;

			&:nth-child(2) {
				margin-top: 0;
			}
		}
	}
}
