.search-page {
	margin-bottom 60px;

	&__form {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width 100%;
		margin-bottom: 10px;

		.input {
			width 80%;
		}
	}

	&__count {
		margin-bottom: 40px;
	}

	&__btn {
		padding-right: 60px;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAA/1BMVEUuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLisuLiv///+5wTzYAAAAU3RSTlMAGY3X+vbJcwlc9NuwtOriM1n+2kEDYvLwLRwT9c4CiUB6T9TZFv2Y+avluazkutLcGJWGRYJH8eAXOffLUkkBBmzdHVHvvtMUfujmvGkVGtXAKS/I4JoAAAABYktHRFTkA4ilAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4gwMDB4KJfBtNQAAAKxJREFUGNNVjdUWglAQRcdCBAOxu7DA7m6xc/7/X7xXBHUezqy9z5o1AAAms8VqY+wsfMbBIe90udEjaOwVfX6yAsFQOEI5yvExrRHiiSRZKUzrtxnMksxJOkO+UCRZKhsCZIWKyldUayTqDYObYotkGzu66GKP6v5gqPFoPKFvYSoOZnOAxZLD1frdbLYoK2oYpR3y0bfZH5jj6Xxhrzv03eB38nd8/AkYqs8XMbgT9NOlMIwAAAAASUVORK5CYII=');
		background-repeat: no-repeat;
		background-position: center right 20px;
		transition: background 1s, color .7s;

		&:after {
			display: none;
		}

		&:hover {
			color: $white;
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjAR4LJQ7SvNiRAAABAUlEQVQoz3XQu0vbARTF8ZMIgrP1FXSQ4uAgFJzc2sHBSXQTnDq10K2bg7uDu3+G0CyCiKsUOvhAYhBEsEgWH8QKgvk4/AxWktw7XDjny+HeGxExZtOpJ/8c+GngVY0UY1UTdduqGrg0+z+wouXMl1epz1f3bs20gXFNdYNvoWLWgz/KBbCBz+/siDUsFsCxWocdw55tiZQzlcN0ViPXmUyScpJSupVCL6eWT13s0VRSL4BqPma+A/iWUn4VSaPuXBh5t+KcR7/bZ8aylgsLSiL6/dDEuYm3Vy+5wZUde25Rc4S68TYQH6w7cO2vXd8NGHKEM5Xo1cNOsN8biBF7pl8AAUACb3ao1K8AAAAASUVORK5CYII=');
		}
	}

	&__list {
		padding: 0;

		list-style: none;

		margin-bottom: 30px;
		margin-top 0;

		counter-reset: number;
	}

	&__item {
		position: relative;

		margin-bottom: 20px;
		padding-left: 30px;

		color: $title-color;

		font-size: 18px;
		font-weight: normal;
		line-height: 30px;

		&:last-child {
			margin-bottom 0;
		}

		&:before {
			position: absolute;
			left: 0;

			content: counters(number, ".") ".";
			counter-increment: number;

			color: $list;

			font-size: 18px;
			line-height: 30px;
			font-weight: 800;
		}
	}

	&__link {
		text-decoration: none;
		text-transform: uppercase;
		color: $green;
		border-bottom: 1px solid $green;
		transition: all 0.5s ease-out;
		font-size: 18px;
		line-height: 23px;
		font-weight: normal;

		display: inline-block;

		&:hover {
			border-color: transparent;
		}
	}
}

@media only screen and (max-width: 1023px) {
	.search-page {
		&__btn {
			padding-right: 60px;
		}
	}
}

@media only screen and (max-width: 767px) {
	.search-page {
		&__form {
			flex-direction: column;

			.input {
				margin-bottom: 20px;
				width: auto;
			}
		}
	}
}
