include blocks/blocks

doctype html
html(lang="ru")
	+head
	body
		+header(style="background-image: url('./img/header-bg.jpg');")
		main.main
			+breadcrumbs
			+contacts
		+footer
		+scripts
		+hidden-blocks
