include blocks/blocks

doctype html
html(lang="ru")
	+head
	body.index
		+header(style="background-color: transparent;")
		+intro
		+about
		+projects
		+reviews
		+clients
		+contact-us
		+footer
		+scripts
		+hidden-blocks
