.service {
	margin-bottom: 70px;

	&__article {
		display: flex;
		flex-direction: column;
	}

	&__text {
		max-width: 867px;
		border-bottom: 1px solid #d0d0d0;
		padding-bottom: 34px;
		margin-bottom: 44px;
		font-size: 18px;
		line-height: 30px;
		color: $service-text-color;
	}

	&__articles-item {
		display: flex;
		flex-direction: row;
		margin-bottom: 46px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__articles-title {
		font-size: 30px;
		line-height: 40px;
		color: $service-text-color;
		margin-bottom: 10px;
		font-weight: normal;
	}

	&__articles-img {
		max-width: 163px;
		align-self: flex-start;
	}

	&__articles-right {
		margin-left: 98px;
	}

	&__articles-text {
		font-size: 18px;
		line-height: 30px;
		font-weight: normal;
		color: $service-text-color;
		max-width: 647px;
		margin-bottom: 15px;

		p {
			display: block;
			margin-bottom: 11px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__articles-link {
		color: $service-text-color;
		font-weight: 800;
		font-size: 18px;
		margin-left: -25px;
		line-height: 30px;
		position: relative;
		letter-spacing: 0;
		display: inline-block;
		transition: color .7s;

		&::after {
			content: '';
			display: inline-block;
			width: 19px;
			height: 13px;
			background-image: url(../i/arrow-right--black.png);
			position: relative;
			margin-left: 11px;
			line-height: 33px;
			margin-top: 1px;
			transition: filter 1s;
		}

		&:hover {
			color: $white;

			&::after {
				filter: brightness(0) invert(1)
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.service {
		&__articles-item {
			flex-direction: column;
		}

		&__articles-img {
			margin-bottom: 20px;
		}

		&__articles-right {
			margin-left: 0;
		}

		&__articles-title {
			font-size: 25px;
			line-height: 28px;
		}
	}
}
