html {
	-webkit-box-sizing border-box;
	box-sizing border-box;
}

*,
*::after,
*::before {
	-webkit-box-sizing inherit;
	box-sizing inherit;
}

body,
html {
	width 100%;
}

h1, h2, h3, h4, p, a, ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul, li {
	list-style: none;
}

body {
	font-family: 'Proxima Nova';
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: $main-text;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

.index h2:not([class]) {
	font-size: 60px;
	line-height: 60px;
	color: $title-color;
	font-weight: 800;
	margin-bottom: 50px;
}

.index h3:not([class]) {
	font-size: 36px;
	line-height: 36px;
	color: $title-color;
	font-weight: 800;
	margin-bottom: 50px;
}

.more {
	font-size: 18px;
	line-height: 1;
	align-self: flex-end;
	color: $main-text;
	font-weight: normal;
	border-bottom: 1px solid $main-text;
	transition: .5s border-color;
	margin-bottom: 8px;

	&:hover {
		border-color: transparent;
	}
}
