html {
	-webkit-box-sizing border-box;
	box-sizing border-box;
}

*,
*::after,
*::before {
	-webkit-box-sizing inherit;
	box-sizing inherit;
}

body,
html {
	width 100%;
}

h1, h2, h3, h4, p, a, ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul, li {
	list-style: none;
}

body {
	font-family: 'Proxima Nova';
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: $main-text;
}

.hidden-blocks {
	display: none;
}

.open-menu {
	position: fixed;
	overflow-y: hidden;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

h1:not([class]) {
	font-size: 60px;
	line-height: 64px;
	color: $title-color;
	font-weight: 800;
	margin-bottom: 32px;
}

h2:not([class]) {
	font-size: 50px;
	line-height: 60px;
	color: $title-color;
	font-weight: 800;
	margin-bottom: 32px;
}

h3:not([class]) {
    font-size: 36px;
    line-height: 36px;
    color: #2e2e2b;
    font-weight: 800;
    margin-bottom: 32px;
}

.index h2:not([class]) {
	font-size: 60px;
	line-height: 60px;
	color: $title-color;
	font-weight: 800;
	margin-bottom: 50px;
}

.index h3:not([class]) {
	font-size: 36px;
	line-height: 36px;
	color: $title-color;
	font-weight: 800;
	margin-bottom: 45px;
}

.index .header {
	margin-bottom 0;
}

.more {
	font-size: 18px;
	line-height: 1;
	align-self: flex-end;
	color: $main-text;
	font-weight: normal;
	border-bottom: 1px solid $main-text;
	transition: .5s border-color;
	margin-bottom: 8px;

	&:hover {
		border-color: transparent;
	}
}

.activities--page {
  margin-bottom: 50px;
}

.back-to-list {
  margin-top: 30px;
}


@media only screen and (max-width: 1441px) {
	.wrapper {
		max-width 1230px
		padding: 0 30px;
	}
}

@media only screen and (max-width: 767px) {
	.wrapper {
		padding: 0 25px;
	}

	h1:not([class]) {
		font-size: 34px;
    line-height: 36px;
		margin-bottom: 10px;
	}

	h2:not([class]) {
		font-size: 28px;
		line-height: 30px;
		margin-bottom: 10px;
	}


	.index h2:not([class]) {
		font-size: 32px;
    line-height: 36px;
		margin-bottom: 30px;
	}

	.index h3:not([class]) {
		font-size: 26px;
    line-height: 28px;
		margin-bottom: 25px;
	}
}
