@import 'ext/normalize.css';
@import 'ext/fancy.css';
@import 'ext/formatter.css';
@import 'ext/swiper.css';
@import 'variables';
@import 'mixin';
@import 'fonts';
@import 'main';
@import 'blocks/standart/btn';
@import 'blocks/standart/input';
@import 'blocks/standart/textarea';
@import 'blocks/standart/pseudocheckbox';
@import 'blocks/standart/select';
@import 'blocks/standart/developers';
@import 'blocks/standart/footer';
@import 'blocks/standart/search';
@import 'blocks/standart/breadcrumbs';
@import 'blocks/standart/default';
@import 'blocks/standart/paginator';
@import 'blocks/standart/not-found';
@import 'blocks/standart/hidden-blocks';

@import 'blocks/header/header';
@import 'blocks/header/logo';
@import 'blocks/header/navigation';
@import 'blocks/index/intro';
@import 'blocks/index/about';
@import 'blocks/index/activities';
@import 'blocks/index/projects';
@import 'blocks/index/reviews';
@import 'blocks/index/clients';
@import 'blocks/index/contact-us';

@import 'blocks/service/service';
@import 'blocks/service/specialize';

@import 'blocks/contacts/contacts';

@import 'blocks/search-page/search-page';


@import 'blocks/service-inner/service-inner';
@import 'blocks/service-inner/photogalery';
@import 'blocks/service-inner/videogalery';
