@import 'ext/normalize.css';
@import 'ext/fancy.css';
@import 'ext/formatter.css';
@import 'ext/swiper.css';
@import 'variables';
@import 'mixin';
@import 'fonts';
@import 'main';
@import 'blocks/standart/btn';
@import 'blocks/header/header';
@import 'blocks/header/logo';
@import 'blocks/header/navigation';
@import 'blocks/index/intro';
@import 'blocks/index/about';
@import 'blocks/index/activities';
