$main-text = #636363;
$white = #ffffff;
$trn = transparent;
$green = #009247;
$title-color = #2e2e2b;
$title-color-hover = rgba(46,46,43,0.4);
$bg-color = #f7f6f4;
$about-pluses-text = #2e2e2b;
$yellow = #e7cb16;
$black = #00000c;
$form-border = #2e2e2b;
$warning = #ee2200;
$foter-bg = #2e2e2b;
$breadcrumbs = #cecece;
$list = #132434;
$table = #132434;
$pagination-color = #2e2e2b;