include standart/__head
include standart/__footer
include standart/__scripts
include standart/__header
include standart/__breadcrumbs
include standart/__paginator

include index/intro
include index/about
include index/projects
include index/reviews
include index/clients
include index/contact-us

include default/default

include projects-page/projects-page

include service/service
include service/specialize

include contacts/contacts

include search/search