mixin about
	section.about
		.wrapper
			h2 О компании
			ul.about__list
				li.about__item
					img(src="/img/about/icon1.png", alt="").about__item-icon
					span.about__item-text ООО «ППП Искусственные сооружения» образовано в 2001 году
				li.about__item
					img(src="/img/about/icon2.png", alt="").about__item-icon
					span.about__item-text Штатная численность компании свыше тридцати человек
				li.about__item
					img(src="/img/about/icon3.png", alt="").about__item-icon
					span.about__item-text Собственная техническая база и автотранспорт
				li.about__item
					img(src="/img/about/icon4.png", alt="").about__item-icon
					span.about__item-text Решение производственных задач качественно и в оптимальные сроки

			.about__text
				.about__text-container
					.about__column
						p На счету компании ряд успешных работ в области строительства магистральных газопроводов и компрессорных станций. В процессе выполнения работ ООО «ППП Искусственные сооружения» максимально учитывает требования Заказчика к выпускаемой продукции.
					.about__column
						p Накопленный опыт работ по проектированию позволил ООО «ППП Искусственные сооружения» стать одной из первых организаций, которая начала разработку проектов логистического обеспечения строительства объектов ОАО «Газпром».
				a(href="#").btn.btn--yellow.about__text-more Читать все

			img(src="/img/about/img.jpg", alt="").about__img
			
		section.activities
			.wrapper
				h3 Основные направления деятельности
				.activities__container
					ul.activities__list
						li.activities__item
							a(href="#").activities__href
								img(src="/img/about/icon2-1.png", alt="").activities__icon
								.activities__text
									p Организация и проведение сбора исходных данных и инженерных изысканий для проектирования истроительства, включая обследование дорожной сети, мостовых и инженерных сооружений

						li.activities__item
							a(href="#").activities__href
								img(src="/img/about/icon2-3.png", alt="").activities__icon
								.activities__text
									p Разработка и утверждение проектов освоения лесов, разработка и утверждение проектов планировки и межевания территории, градостроительных планов земельных участков, оформление прав на земельные участки
						li.activities__item
							a(href="#").activities__href
								img(src="/img/about/icon2-2.png", alt="").activities__icon
								.activities__text
									p Разработка проектов логистического обеспечения строительства
						
					ul.activities__list
						li.activities__item
							a(href="#").activities__href
								img(src="/img/about/icon2-2.png", alt="").activities__icon
								.activities__text
									p Изыскание источников водоснабжения на базе подземных вод, включая разработку необходимой проектной документации

						li.activities__item
							a(href="#").activities__href
								img(src="/img/about/icon2-1.png", alt="").activities__icon
								.activities__text
									p Строительство водозаборных сооружений, бурение скважин, общестроительные работы

						li.activities__item
							a(href="#").activities__href
								img(src="/img/about/icon2-3.png", alt="").activities__icon
								.activities__text
									p Перевозка тяжеловесного и негабаритного оборудования, включая обследование пересекаемых инженерных коммуникаций, разработку и согласование специального транспортного проекта организации дорожного движения

						li.activities__item
							a(href="#").activities__href
								img(src="/img/about/icon2-2.png", alt="").activities__icon
								.activities__text
									p Научная и нормотворческая деятельность
