mixin clients
	section.clients
		.wrapper
			h2 Наши клиенты
			ul.clients__list
				li.clients__item
					img(src="./img/clients-logo/Logo1.png", alt="").clients__logo
					.clients__text
						p ОАО "Гипроспецгаз" - старейший проектный институт газовой отрасли России. Основан в 1938 году. В инстиуте сохранили потенциал и традиции специального строительного проектирования. Это позволяет нам на самом высоком уровне в инвестиционном процессе решать сложнейшие задачи в трубопроводном строительстве, поставленные заказчиком.
				li.clients__item
					img(src="./img/clients-logo/Logo2.png", alt="").clients__logo
					.clients__text
						p ООО «Газпром инвест Запад» 100%-ное дочернее предприятие ОАО «Газпром». Общество выполняет функции заказчика по инвестиционным договорам с ОАО «Газпром». Общество обеспечивает проектирование, строительство, ввод в эксплуатацию промышленных и гражданских объектов нефтегазового сектора в Северо-Западном регионе России.
						p Один из основных проектов, возложенных на ООО «Газпром инвест Запад» - строительство инфраструктуры газопровода Грязовец-Выборг, который продолжается газопроводом «Северный поток» (Nord Stream).
						
				li.clients__item
					img(src="./img/clients-logo/Logo3.png", alt="").clients__logo
					.clients__text
						p ОАО «ВНИПИгаздобыча», являясь дочерним акционерным обществом ОАО «Газпром», более 80% объемов работ выполняет по заказам Газпрома, обеспечивая проектной документацией значительную часть вводимых в строй объектов добычи газа и углеводородного сырья.
						p За 2001 – 2004 годы прирост добычи газа с объектов, запроектированных институтом, составил порядка 135.5 миллиардов кубометров или третью часть всего добываемого Газпромом газа.
						
				li.clients__item
					img(src="./img/clients-logo/Logo4.png", alt="").clients__logo
					.clients__text
						p Открытое акционерное общество «Гипрогазцентр» образовано 18 ноября 1968 года как отдел комплексного проектирования (ОКП) предприятия «Южгипротрубопровод» в г. Горьком. В 1994 году ОКП реорганизован в Государственный институт по проектированию объектов трубопроводного транспорта газа в центральных районах СССР - «Гипрогазцентр», а затем в дочернее акционерное общество открытого типа «Гипрогазцентр» РАО «Газпром»
