mixin intro
	section.intro
		.wrapper
			.intro__sizer
			.intro__carousel
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.intro__slider-inner
								span.intro__slider-numb 01
								.intro__slider-text
									h2.intro__slider-title Модернизация и ремонт малых мостов и водопропускных труб
									a(href="#").btn.intro__slider-href.btn Узнать больше
						.swiper-slide
							.intro__slider-inner
								span.intro__slider-numb 02
								.intro__slider-text
									h2.intro__slider-title Сбор исходных данных
									a(href="#").btn.intro__slider-href.btn Узнать больше
						.swiper-slide
							.intro__slider-inner
								span.intro__slider-numb 03
								.intro__slider-text
									h2.intro__slider-title Сбор анализов
									a(href="#").btn.intro__slider-href Узнать больше
			.intro__footer
				.intro__slider-nav
					.intro__slider-nav-prev.js-slide-prev Предыдущий слайд
					.intro__slider-nav-next.js-slide-next Следующий слайд
				.intro__slide-down Крутите вниз
				.intro__phones
					a(href="tel:+74991898916").intro__phones-href +7 (499) 189-89-16
					a(href="tel:+74991898916").intro__phones-href +7 (499) 180-11-72
