mixin projects
	section.projects
		.wrapper
			.projects__title
				h2 Наши проекты
				a(href="#").more Все проекты
			.projects__items
				a(href="#").projects__item
					.projects__img-cover
						img(src="./img/project.jpg", alt="").projects__img
					.projects__right
						span.projects__year 2009
						.projects__line
						.projects__text
							h3.projects__maintitle
								span Магистральный газопровод «Ухта-Торжок». Компрессорная станция Нюксеницкая
							.projects__overview.js-projects-shave
								p Краткое описание, содержащее три и более строки, анонсирующее детали проекта в более развернутой, краткое описание, содержащее три и более строки, анонсирующее детали проекта в более развернутой.
				a(href="#").projects__item
					.projects__img-cover
						img(src="./img/project.jpg", alt="").projects__img
					.projects__right
						span.projects__year 2009
						.projects__line
						.projects__text
							h3.projects__maintitle
								span Магистральный газопровод «СРТО Торжок». Крановый узел
							.projects__overview.js-projects-shave
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam labore esse in blanditiis rem dolorum sunt cupiditate porro fugit ad natus at veritatis enim, a atque quos minus, voluptates ab.
