.contacts {

	h1:not([class]) {
		margin-bottom 10px
	}

	&__container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		border-top: 1px solid #e4e4e4;
		max-width: 867px;
		padding-top: 46px;
		margin-bottom: 38px;

	}

	&__item {
		// width: 261px;
		width: calc(100% / 3 - 42px)
		margin-left: 42px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 52px;
		color: $service-text-color;

		&:nth-child(1) {
			margin-left: 0;
		}

		&:nth-child(4) {
			margin-left: 0;
		}

		p {
			max-width: 100%;
		}
	}

	&__subtitle {
		font-size: 24px;
		line-height: 26px;
		font-weight: 800;
		color: $green;
		margin-bottom: 14px;
	}

	&__link-tel {
		font-size: 18px;
		line-height: 23px;
		font-weight: normal;
		text-decoration: none;
		color: $service-text-color;
		margin-bottom: 3px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link-mail {
		text-decoration: none;

		color: $green;
		border-bottom: 1px solid $green;
		transition: all 0.5s ease-out;
		font-size: 18px;
		line-height: 23px;
		font-weight: normal;

		display: inline-block;

		&:hover {
			border-color: transparent;
		}
	}

	&__schema {
		padding-top: 48px;
		padding-bottom: 54px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
			background-color: #f5f5f5;
			width: calc(100vw - 17px);
			height: 100%;
			background-color: $specialize-bg;
			z-index: -1;
		}
	}

	&__map {
		width: 100%;
		height: 500px;
		margin-top: 26px;
		margin-bottom: 31px;
	}

	&__text {
		max-width: 867px;
	}

	&__cont {
		display: flex;
		flex-direction: column;
	}

	&__form {
		padding: 52px 0;
	}

	&__form-warn {
		margin-top: 20px;
		margin-bottom: 65px;
	}

	&__form-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 43px;

		.pseudocheckbox {
			align-self: center;
		}

		.btn {
			margin-left: 0;
			margin-right: -25px;
		}
	}

	&__form-col {
		display: flex;
		flex-direction: column;
		width: calc(50% - 21px);

		.input,
		.select {
			margin-bottom: 40px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.textarea {
			height: 100%;
		}
	}

	&__textarea {
		height: 100%;
	}
}

@media only screen and (max-width: 1023px) {
	.contacts {
		&__form-row {
			flex-direction: column;
			justify-content: flex-start;
			.pseudocheckbox {
				align-self: flex-start;
				margin-bottom 20px;
			}
		}


		&__schema {
			&:before {
				width: 100vw;
			}
		}

		&__item {
			width: calc(50% - 21px);
			margin-right: 42px;
			margin-left: 0;

			&:nth-child(2n+2) {
				margin-right: 0;
			}
		}

		&__form-col {
			width 100%;
			margin-bottom: 40px;

			&:last-child {
				margin-bottom 0
			}
		}
	}
}

@media only screen and (max-width: 550px) {
	.contacts {
		&__container {
			border-top: 0;
		}

		&__item {
			width: 100%;
			margin-right: 0;

			&:nth-child(2n+2) {
				margin-right: 0;
			}
		}
	}
}
