.btn {
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	letter-spacing: 1.12px;
	color: $white;
	padding: 6px 25px;
	background-color: $trn;
	transition: background .6s;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	display inline-block;
	vertical-align: top;
	align-self: flex-start;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		left: -100%;
		z-index: -1;
		background-color: $green;
		-webkit-transition: all 600ms cubic-bezier(0.39, -0.03, 0.51, 1.07);
		        transition: all 600ms cubic-bezier(0.39, -0.03, 0.51, 1.07);
	}

	&--yellow {
		&:before {
			background-color: $yellow;
		}
	}

	&:hover {
		&:before {
			left: 0%;
		}
	}
}
