.btn {
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	letter-spacing: 1.12px;
	color: $white;
	padding: 6px 25px;
	background-color: $trn;
	transition: background .6s, color .7s;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	display inline-block;
	vertical-align: top;
	align-self: flex-start;
	outline-color: transparent;
	border: none;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		left: -100%;
		z-index: -1;
		background-color: $green;
		transition: all 600ms ease-out;
	}

	&--yellow {
		&:before {
			background-color: $yellow;
		}
	}

	&:hover {
		&:before {
			left: 0%;
		}
	}
}

@media only screen and (max-width: 1023px) {
	.btn {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;

		&:hover {
			&:before {
				left: -100%;
			}
		}
	}
}
