.paginator {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 80px;

	&__list {
		display: flex;
		flex-direction: row;
		margin: 0 30px;
	}

	&__btn {
		background-color: transparent;
		border: none;
		width: 0;
		background-image: url('../i/pagination-right.png');
		width: 36px;
		height: 15px;
		background-position: center;
		cursor: pointer;
		outline-color: transparent;
		align-self: center;
		transition: opacity .5s;

		&:hover {
			opacity: .6;
		}

		&--prev {
			transform: rotate(-180deg);
		}

		&--disabled {
			opacity: .6;
			cursor: auto;
		}
	}

	&__item {
		width: 43px;
		height: 43px;
		margin-right: 8px;
		border-radius: 50%;
		position: relative;
		text-align: center;
		list-style: none;

		&:last-child {
			margin-right: 0;
		}

		&--current {
			background-color: $green;
			a {
				color: $white;
				border-color: transparent;
			}
		}
	}

	&__dots {
		font-weight: 600;
		font-size: 27px;
		line-height: 42px;
		color: $red;
	}

	&__href {
		position: absolute;
		z-index: 1;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-weight: 600;
		font-size: 27px;
		letter-spacing: 0.5px;
		line-height: 1;
		color: $pagination-color;
		border-bottom: 1px solid $title-color-hover;
		transition: border-color .5s;

		&:hover {
			border-color: transparent;
		}
	}
}

@media only screen and (max-width: 767px) {
	.paginator {
		margin-top: 55px;

		&__href {
			font-size: 19px;
		}

		&__item {
			width: 30px;
			height: 30px;
		}

		&__list {
	    margin: 0 9px;
		}
	}
}
