mixin footer
	footer#footer.footer&attributes(attributes)
		.wrapper
			.footer__top
				.logo.footer__logo
					a(href="#").logo__href
						img(src="./img/logo.png", alt="").logo__img
				.footer__column
					nav.footer__nav
						ul.footer__nav-list
							li.footer__nav-item
								a(href="#").footer__nav-link О компании
							li.footer__nav-item
								a(href="#").footer__nav-link Услуги
							li.footer__nav-item
								a(href="#").footer__nav-link Проекты
							li.footer__nav-item
								a(href="#").footer__nav-link Партнеры
							li.footer__nav-item
								a(href="#").footer__nav-link Контакты
							li.footer__nav-item.footer__nav-item--search
								button(type="button").search-btn.js-open-search
					form(action="").search.js-search-form
						input(type="text", placeholder="Введите запрос").search__input
						button(type="submit").search__btn
					.footer__phones
						a(href="tel:+74991898916").footer__phones-link +7 (499) 189-89-16
						a(href="tel:+74991801172").footer__phones-link +7 (499) 180-11-72
			.footer__bottom
				.footer__copyrights
					p ООО «ППП Искусственные сооружения» © 2018
				.developers
					a(href="https://dextra.ru" target="_blank").developers__href
						span.developers__dextra DEXTRA
						| Разработка сайта
