mixin header
	header.header&attributes(attributes)
		.wrapper
			.logo
				a(href="#").logo__href
					img(src="./img/logo.png", alt="").logo__img
			nav.navigation
				ul.navigation__list
					li.navigation__item.active
						a(href="#").navigation__href.btn О компании
					li.navigation__item
						a(href="#").navigation__href.btn Услуги
					li.navigation__item
						a(href="#").navigation__href.btn Проекты
					li.navigation__item
						a(href="#").navigation__href.btn Партнеры
					li.navigation__item
						a(href="#").navigation__href.btn Контакты
					li.navigation__item.navigation__item--search
						button(type="button").search-btn.js-open-search
						form(action="").search.js-search-form
							input(type="text", placeholder="Введите запрос").search__input
							button(type="submit").search__btn
			button(type="button").header__burger.js-burger
				i
