mixin hidden-blocks
	.hidden-blocks
		#thanks.thanks
			span.thanks__title Спасибо за обращение
			.thanks__text
				p Наши сотрудники в ближайшее время займутся
					br
					| вашим обращением и в скором времени ответят на него.
			.thanks__phones
				p Также вы можете обратиться телефонам:
				.thanks__phones-line
					a(href="tel:+74991898916") +7 (499) 189-89-16
					a(href="tel:+74991898916") +7 (499) 189-89-16
