mixin photogalery
	section.photogalery
		.wrapper
			h2 Фотогалерея
			.js-photogalerycar.swiper-container
				.swiper-wrapper
					.swiper-slide
						a(href="./img/photogalery/img-1.jpg", data-fancybox="photogalery").photogalery__over
							img(src="./img/photogalery/img-1.jpg", alt="").photogalery__img
					.swiper-slide
						a(href="./img/photogalery/img-2.jpg", data-fancybox="photogalery").photogalery__over
							img(src="./img/photogalery/img-2.jpg", alt="").photogalery__img
					.swiper-slide
						a(href="./img/photogalery/img-1.jpg", data-fancybox="photogalery").photogalery__over
							img(src="./img/photogalery/img-1.jpg", alt="").photogalery__img
			.swiper-nav-container
				.swiper-button-prev
				.swiper-button-next
