mixin videogalery
	section.videogalery
		.wrapper
			h2 Видеогалерея
			.js-videogalery.swiper-container
				.swiper-wrapper
					.swiper-slide.videogalery__slide
						a(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk", data-fancybox="photogallery").videogalery__over
							img(src="./img/photogalery/img-1.jpg", alt="").videogalery__img
						p.videogalery__title Магистральный газопровод  «Ухта-Торжок». Компрессорная станция Нюксеницкая.
					.swiper-slide.videogalery__slide
						a(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk", data-fancybox="photogallery").videogalery__over
							img(src="./img/photogalery/img-2.jpg", alt="").videogalery__img
						p.videogalery__title Магистральный газопровод  «Ухта-Торжок». Компрессорная станция Нюксеницкая.
					.swiper-slide.videogalery__slide
						a(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk", data-fancybox="photogallery").videogalery__over
							img(src="./img/photogalery/img-3.jpg", alt="").videogalery__img
						p.videogalery__title Магистральный газопровод  «Ухта-Торжок». Компрессорная станция Нюксеницкая.
			.swiper-nav-container
				.swiper-button-prev
				.swiper-button-next
